#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

{{ if (eq .machine "work-laptop") -}}
brew bundle --file={{ joinPath .chezmoi.sourceDir "work.Brewfile" | quote }}
{{ else -}}
brew bundle --file={{ joinPath .chezmoi.sourceDir "personal.Brewfile" | quote }}
{{ end -}}

{{ end -}}
